.bg-body-tertiary{
    background-color: #674188 !important;
}

.btn {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	color: #674188;
	font-size: 12px;
	padding: 10px 10px;
    margin-top: -5px;
    font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn:hover{
    background-color: #C3ACD0;
    color: white;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
    width: 600px;
    margin-left: 450px;
    margin-top: 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
button {
	border-radius: 20px;
	border: 1px solid #674188;
	background-color: #674188;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}
.circles{
    animation: growAndFade 3s infinite ease-out;
    background-color: #674188;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    opacity: 0;
    margin-left: 0px;
    position: absolute;
}

@keyframes growAndFade {
    0% {
      opacity: .50;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  .btn2 {
	border-radius: 30px;
	border: 1px solid #674188;
	background-color: #674188;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    margin-top: -150px;
    margin-left: 330px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn2:hover {
	transform: scale(0.95);
    background-color: #C3ACD0;
    outline: none;
}